[Unit]
Description=Daemon for Searxng service
After=network.target

[Service]
Type=simple
ExecStart=docker-compose --file /home/manya/configs/searxng/docker-compose.yml up 
ExecStop=docker-compose --file /home/manya/configs/searxng/docker-compose.yml down

[Install]
After=docker.service
WantedBy=multi-user.target

